@{
    Layout = "_Layout";
    ViewBag.Titulo = "Cadastro de Instrutores";
}

@model CadastrarInstrutorViewModel;

<form class="formulario" asp-action="Cadastrar" method="post"> @* mapeia a pasta do controller e identifica quem ele é
    *@

    <div class="formulario-campo">
        <label asp-for="Nome">Nome</label> @* Legenda do campo Nome *@
        <input asp-for="Nome" type="text"> @* Campo que preenche Nome no ViewModel *@
        <span asp-validation-for="Nome" class="formulario-validacao-campo"></span> @* Erro de validação do campo Nome *@
    </div>

    <div class="formulario-campo">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" type="email">
        <span asp-validation-for="Email" class="formulario-validacao-campo"></span>

        <div class="formulario-campo">
            <label asp-for="Telefone">Telefone</label>
            <input asp-for="Telefone" type="text">
            <span asp-validation-for="Telefone" class="formulario-validacao-campo"></span>
        </div>

        <div class="formulario-acoes">
            <a asp-action="Listar">Voltar</a>
            <button type="submit">Confirmar</button>
        </div>
    </form>