@{
    Layout = "_Layout";
    ViewBag.Titulo = "Exclusão de Instrutor";
}

@model ExcluirInstrutorViewModel;

<form class="formulario" asp-action="Excluir" asp-route="@Model.Id" method="post">

    <p class="formulario-alerta">Deseja realmente excluir este instrutor?</p>

    <div class="formulario-campo">
        <label asp-for="Nome">Nome</label>
        <input asp-for="Nome" type="text" disabled>
    </div>

    <div class="formulario-campo">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" type="email" disabled>
    </div>

    <div class="formulario-campo">
        <label asp-for="Telefone">Telefone</label>
        <input asp-for="Telefone" type="text" disabled>
    </div>

    <div class="formulario-acoes">
        <a asp-action="Listar">Voltar</a>
        <button type="submit">Confirmar</button>
    </div>
</form>