@{
    Layout = "_Layout";
    ViewBag.Titulo = "Listagem de Instrutores";
}

@model List<ListarInstrutoresViewModel>;
@* SÃO DADOS ESTRUTURADOS QUE PASSAMOS POR MEIO DE CONTROLLERS *@

<a class="btn-cadastrar" href="/Instrutor/Cadastrar">Cadastrar Novo</a>

<table class="registros">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ListarInstrutoresViewModel i in Model)
        {
            <tr>
                <td>@i.Id</td>
                <td>@i.Nome</td>
                <td>@i.Email</td>
                <td>@i.Telefone</td>
                <td>
                    <a href="/Instrutor/Editar/@i.Id">Editar</a>
                    <a href="/Instrutor/Excluir/@i.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>