@model PraticasDeliberadas.WebApplication.Models.Entities.Livro

<h1>Cadastrar Livro</h1>

<form asp-action="Cadastrar" method="post">
    <div>
        <label asp-for="Titulo"></label>
        <input asp-for="Titulo" />
    </div>

    <div>
        <label asp-for="Autor"></label>
        <input asp-for="Autor" />
    </div>

    <div>
        <label asp-for="Genero"></label>
        <input asp-for="Genero" />
    </div>

    <div>
        <label asp-for="EstaDisponivel"></label>
        <input asp-for="EstaDisponivel" type="checkbox" />
    </div>

    <button type="submit">Cadastrar</button>
</form>

<a asp-action="Index">Voltar</a>